/*******colors********************/

/*********Text**************/
.banner-l1{color:#ced4da !important;}
/******************************/

/*******buttons*****************/
.btn-l1-teal {color:#fff !important; background-color:#00dcc6 !important; border-radius: 20px;}
/********************************/

/*********controls**************/
.input-round{
    border-radius:20px;
    margin-bottom: 10px;    
    font-size: 1.5em !important;
    color:#ced4da !important;
}
/******************************/